doctype html
html
	include includes/head.jade
	include includes/header.jade
	.container
		section.content
			.main#home
				h1.
					Welcome to Rocket Tracker!
				p.
					Rocket tracker can be used to look up both PC and PS4 players at any time, from any device!
				p.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ornare ultricies erat eget tristique. In non eros accumsan, mattis magna semper, finibus metus. Aenean vel ex accumsan, maximus sem at, finibus felis. In lorem sem, vehicula nec porttitor ac, porttitor at risus. Curabitur vel nisi luctus, cursus dolor in, facilisis sem. Morbi rutrum nulla eget mattis tristique. Aliquam sit amet nibh lacus. Aenean blandit arcu eget est laoreet, sit amet vestibulum augue euismod. Nullam ornare commodo sem non fringilla. Sed non iaculis enim, interdum vulputate mi.
				h1.
					Donec lobortis faucibus neque vel placerat
				p.
					Donec lobortis faucibus neque vel placerat. Sed ac risus molestie, sodales justo sed, maximus ligula. Nunc faucibusacilisis massa quis sapien mattis dignissim. Curabitur in semper nibh. Sed facilisis nunc mauris, sed hendrerit libero pretium vel. Donec bibendum sem magna, ut commodo orci luctus at. Morbi id tempor odio. Quisque malesuada ac tellus id rhoncus.
				p.
					Nullam fermentum eleifend tempus. Morbi non lacinia leo. Nam malesuada aliquet elit ut consectetur. Ut non quam urna. Etiam vestibulum vehicula nisl nec consequat. Sed laoreet laoreet lacus vel iaculis. Praesent eleifend magna neque. Duis dictum, mi nec faucibus faucibus, metus velit gravida sem, quis maximus quam felis non enim. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce finibus consectetur turpis, a suscipit lacus porttitor ut. Ut fermentum dictum dui, ac rutrum arcu euismod et. Proin scelerisque dapibus purus in condimentum. Aenean nec ipsum augue. Sed tellus risus, suscipit sed sodales sit amet, lobortis id est. Quisque rhoncus lectus non risus varius, eget efficitur purus sagittis.

			
	include includes/foot.jade