doctype html
html
	include includes/head.jade
	include includes/header.jade
	.container
		section.content
			.main#users
				.users-table
					table
						thead
							tr
								th
									| ID
								th
									| Name
								th
									| Platform
								th
						each val in users
							tr
								td= val.id
								td= val.name
								td= val.platform
								td
									a(href="/user/#{val.id}")
										| View Stats


	include includes/foot.jade