@import 'reset.styl'
html
	overflow-y scroll
body
	font-family 'Open Sans', sans-serif
	h1 
		font-family 'Russo One', sans-serif
		font-size 24px
		font-weight normal
	background-image url('../images/bg.jpg')
	.wrapper
	.container
		width 100%
		max-width 972px
		margin 0 auto
		.header-wrapper
			padding 10px 0
	.clearfix
		clear both
		float none
header
	background rgba(0,0,0,.87)
	.header-wrapper
		.logo
			float left
		nav
			float right
			li
				float left
				padding 22px
				a
					text-decoration none
					font-weight 700
					color #fff
					text-transform uppercase
					&:hover
						color #289413
.search-bar
	background rgba(0,0,0,.67)
	display none
	.search
		width 100%
		margin 0 auto
		padding 15px 30px
		form
			input
				background rgba(255,255,255,.1)
				color #fff
				padding 10px
				border 1px solid #333
				width 81%
			button
				background #4c8c48
				padding 10px
				border 1px solid #289413
				color #fff
				text-transform uppercase
				i 
					margin-left 7px
.content
	background rgba(0,0,0,.87)
	color #fff
	margin 30px 0
	height 800px
	.main
		&#home
			padding 30px
			p
				margin 20px 0
		.profile-header
			display table
			.avatar
				display inline-block
				float left
				width 100px
				height 100px
				background #333
				margin-right 20px
			.profile-info
				display table-cell
				vertical-align middle
				p.last-played
					font-size 14px
					color #bfbfbf
					span
						color #81cc7d
					
	
		
						